body
{
    margin: 0;
    padding: 0;
}

.navbar
{
    display: flex;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    justify-items: center;
    overflow: auto;

    align-items: center;
    justify-content: start;
    width: 100%;

    div
    {
        position: relative;
        transform: translate(5px, 0px);
        padding: 10px;
        float: left;
        h1
        {
            text-align: center;
            font-size: 12px;
            color: white;
            text-decoration: none;
        }
    }
    a:hover:nth-child(n+2)
    {
        cursor: pointer;
        h1
        {
            color: rgb(196, 196, 196);
        }
    }
}
.background
{
    position: absolute;
    width: 100%;
    height: 500px;
    img
    {
        width: 100%;
        height: 100%;
        object-fit: cover;

        opacity: 75%;
    }
}
.home
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 500px;
    width: 100%;

    div
    {
        position: relative;
        background-color: black;
        border-radius: 10px;
        width: 40%;
        p
        {
            text-align: center;
            position: relative;
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            border: solid 2px black;
        }
    }
}
.button-default
{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgb(0, 174, 255);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}
.button-default:hover
{
    cursor: pointer;
}
.button-default:active
{
    background-color: rgb(0, 132, 255);;
}
.about
{
    background-color: white;
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    
    h1
    {
        position: relative;
        transform: translate(0%, 20%);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 175%;
    }
    p
    {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
    }
}
.projects
{
    background-color: aliceblue;
    padding-bottom: 20px;

    h1
    {
        padding-top: 20px;
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 175%;
    }
    div
    {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        gap: 20px;

        div
        {
            background-color: black;
            display: flex;
            align-items: center;
            justify-content: start;
            flex-direction: column;
            border-radius: 10px;
            padding: 20px;
            width: 20%;
            gap: 10px;

            h2
            {
                font-family: Arial, Helvetica, sans-serif;
                color: white;
                margin-top: 5px;
                margin-bottom: 0px;
            }
            p
            {
                font-family: Arial, Helvetica, sans-serif;
                color: white;
                text-align: center;
            }
        }
    }
}

.pricing
{
    padding-bottom: 20px;

    h1
    {
        padding-top: 20px;
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 175%;
    }
    div
    {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        gap: 20px;
        flex-wrap: wrap;

        div
        {
            background-color: none;
            border: solid 2px black;
            display: flex;
            align-items: center;
            justify-content: start;
            flex-direction: column;
            border-radius: 10px;
            padding: 20px;
            width: 20%;
            gap: 10px;

            h2
            {
                font-family: Arial, Helvetica, sans-serif;
                color: black;
                margin-top: 5px;
                margin-bottom: 0px;
            }
            p
            {
                font-family: Arial, Helvetica, sans-serif;
                color: black;
                text-align: center;
            }
        }
    }
}